{# templates/authors/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Authors List</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>

<h1>Authors List</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for author in a %}
            <tr>
                <td>{{ author.username }}</td>
                <td>{{ author.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No authors found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
